{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa hevosta {{horse.name}}</h1>


  <form method="post" action="{{base_path}}/edit">

    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="{{horse.name}}" type="text">
    </div>
    <div class="form-group">
      <label>Rotu, sukupuoli</label>
      <input class="form-control" value="{{horse.rotu}}, {{horse.sukupuoli}}" type="text">
    </div>
    <div class="form-group">
      <label>Syntymäaika, ikä</label>
      <input class="form-control" value="{{horse.syntymaaika}}, {{horse.ika}}-vuotias" type="text">
    </div>
    <div class="form-group">
      <label>Väritys</label>
      <input class="form-control" value="{{horse.varitys}}" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}