{% extends "base.html" %}
{% block content %}
  <h1>Tallin Nimi Tähän</h1>

  <p>
    <a href="{{base_path}}/horses/new" class="btn btn-success">Uusi hevonen</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Rotu</th>
        <th>Sukupuoli</th>
        <th>Nimi</th>
        <th>Isälinja</th>
        <th>Emälinja</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {‰ for horse in horses ‰}
      <!-- Listataan hevoset tähän -->
      <tr>
        <td>{{rotu}}</><td>
        <td>{{sukupuoli}}</td>
        <td><a href="{{base_path}}/horse/{{horse.id}}">{{horse.name}}</a></td>
        <td>{{isa}}</td>
        <td>{{ema}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/horse/{{horse.id}}/edit">Muokkaa</a></th>
      </tr>
      {‰ endfor ‰}
    </tbody>
  </table>
{% endblock %}