{% extends "base.html" %}
{% block content %}
  <h1>Hevoslistaus</h1>

  <p>
    <a href="{{base_path}}/horse/new" class="btn btn-success">Uusi hevonen</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Rotu</th>
        <th>Sukupuoli</th>
        <th>Nimi</th>
        <th>Isä</th>
        <th>Emä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for horse in horses %}
      <!-- Listataan hevoset tähän -->
      <tr>
        <td>{{horse.rotu}}</td>
        <td>{{horse.sukupuoli}}</td>
        <td><a href="{{base_path}}/horse/{{horse.id}}">{{horse.name}}</a></td>
        <td>{{horse.isa}}</td>
        <td>{{horse.ema}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/horse/{{horse.id}}/edit">Muokkaa</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}