{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{horse.name}}</h1>
  <!-- Painikkeet tähän -->
  <p>
    {{forms.destroy_button("#{base_path}/horse/#{horse.id}/destroy")}}
    {{forms.edit_button()}}
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Rotu, sukupuoli:</strong> {{horse.rotu}}, {{horse.sukupuoli}}</li>
    <li><strong>Syntymäaika, ikä:</strong> {{horse.syntymaaika}}, {{horse.ika}}</li>
    <li><strong>Väritys:</strong> {{horse.varitys}}</li>
    <li><strong>Isä:</strong> {{horse.isa}}</li>
    <li><strong>Emä:</strong>
    {{horse.ema}}</li>
    <li><strong>Omistaja, talli:</strong> {{horse.omistaja_id}}, {{horse.talli_id}}</li>
  </ul>

{% endblock %}