{% extends "base.html" %}
{% block content %}
  <h1>Hepo Heponen</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Rotu, sukupuoli:</strong> Suomalainen puoliverinen, ori</li>
    <li><strong>Syntymäaika, ikä:</strong> 11.11.2011, 8v</li>
    <li><strong>Väritys:</strong> musta, vtj sukka</li>
    <li><strong>Kasvattaja:</strong> Bacon Miller, GBR</li>
    <li><strong>Painotus, koulutustaso:</strong>koulu, GP-120cm-110cm</li>
    <li><strong>Arvonimet:</strong> KTK-I</li>
  </ul>
  <!-- Luonnekuvaus tulee tähän -->
  <p>
    Hepo Heponen, eli tuttavallisemmin pelkkä "Hepsu", on helposti käsiteltävä ja yksinkertainen ratsastaa. Se periyttää jälkeläisilleen hyvää, irtonaista liikettä ja säyseää luonnetta, sekä komeaa mustaa väritystä.
  </p>
{% endblock %}